<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>343110466898-vnpk4lmm2o6tlkps4829fa362ahj2jba.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.343110466898-vnpk4lmm2o6tlkps4829fa362ahj2jba</string>
	<key>API_KEY</key>
	<string>AIzaSyDS02R5Wa5QrLhOqVxeNa8N90umLy68SdI</string>
	<key>GCM_SENDER_ID</key>
	<string>343110466898</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>home.Navigation</string>
	<key>PROJECT_ID</key>
	<string>navigation-a2cf6</string>
	<key>STORAGE_BUCKET</key>
	<string>navigation-a2cf6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:343110466898:ios:6cc6d40389d5ab20004e8b</string>
</dict>
</plist>